html, body, #app {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* Start page CSS */
.start-page-wrapper {
  height: 100%;
}

.start-page-wrapper > main {
  height: 100%;
  overflow-y: hidden;
} 

/* Dashboard page CSS */
/* 
.dashboard-page-wrapper {
  height: 100%;
}

.dashboard-page-wrapper > header {
  height: 15vh;
}

.dashboard-page-wrapper > header > div {
  margin: 1.5rem 1.5rem 0;
}

.dashboard-page-wrapper > header input {
  text-align: center;
}

.dashboard-page-wrapper > main {
  height: 85vh;
  padding: 20px;
}

.dashboard-page-wrapper > main > .grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows:repeat(3, minmax(200px, auto));
  grid-gap: .5rem;

  height: 100%;
} */